<% uses('resource', 'someResource').as('providerPages') %>
<!DOCTYPE html>
<html lang="<%= request.locale %>">
<head>
  <% include ../partials/core/head-open %>
  <% include ../partials/core/head-title %>
  <% include ../partials/core/head-close %>
</head>
<body>
  <% include ../partials/core/body-open %>


  <%- page.body %>
  <%- print(locals) %>

  <h2>Provider Pages</h2>
  <ul>
    <% providerPages.forEach(function(page) { %>
      <li><a href="<%= page.url() %>"><%= page.title %></a></li>
    <% }) %>
  </ul>

  <%- partial('shared/footer') %>
  <% include ../partials/core/body-close %>
</body>
</html>
